// you can change config here
/* Color list */
$colors: #c0392b, #d35400, #f39c12, #23a2a8, #16a085, #2980b9, #8e44ad, #2c3e50,
  #7f8c8d !default;

/* responsive breakpoints */

// wide screen
$pc: 1440px !default;

// desktop
$laptop: 1280px !default;

// narrow desktop / iPad
$pad: 959px !default;

// wide mobile
$tablet: 719px !default;

// narrow mobile
$mobile: 419px !default;

/* Content Class */
$content-class: ".theme-hope-content" !default;

/* Code Block */
// theme
$code-light-theme: "one-light" !default;
$code-dark-theme: "one-dark" !default;

